body
{
background-color: SkyBlue;
margin: 10px 0px 10px 10px;
}
body.bd
{
border-color:#F8EAD0;
border-style:inset;
border-width:2px;
}
.menu
{
float:right; 
font-family:"Verdana", sans-serif;
font-size:11px;
line-height:17px;
text-align:right;
color:#844139;
padding:3px 20px 0px 0px; 
cursor:pointer;
}
.menu_print
{
text-decoration:  underline;
}
.stopka
{
font-family:"Verdana", sans-serif;
font-size:11px;
line-height:20px;
text-align:center;
color:#844139;
padding:20px 20px 20px 20px; 
}
.hr_footer
{
color:silver;
height:3px;
margin: 0px 0px 10px 0px;
}
.hr_header
{
color:silver;
height:3px;
margin: 5px 0px 10px 0px;
}
.tekst
{
font-family:"Verdana", sans-serif;
font-size:75%;
color:black;
line-height:150%;
}
.tekst_2
{
font-family:"Verdana", sans-serif;
font-size:75%;
color:black;
line-height:130%;
}

.szukacz_logo
{
font-family:"Verdana", sans-serif;
color:black;
padding: 0px 0px 0px 0px;
margin: 0px 5px 0px 20px;
}
.szukacz_help
{
font-family:"Verdana", sans-serif;
font-size: 10px;
color:black;
padding: 0px 0px 0px 0px;
margin: 0px 0px 1px 0px;
text-align: left;
line-height: 8px;
vertical-align: top;
}
.szukacz_query
{
font-family:"Verdana", sans-serif;
font-size: 11px;
color:black;
padding: 0px 5px 0px 5px;
margin: 0px 0px 0px 0px;
width: 180px;
height: 20px;
vertical-align: bottom;
}
.szukacz_submit
{
font-family:"Verdana", sans-serif;
font-size: 11px;
color:black;
padding: 0px 2px 0px 2px;
margin: 0px 0px 2px 0px;
height: 20px;
vertical-align: bottom;
}
.szukacz_radio
{
font-family:"Verdana", sans-serif;
font-size: 10px;
color:black;
}

a:hover
{
color: Gray;
}

.glowna
{
font-family:"Verdana", Sans-Serif;
font-size:13px;
font-weight:normal;
}

.qtext
{
background-color:#F7EAD0;
border-color:#F7EAD0;
font-size:12px;
color:#000000;
}

.qbutton
{
background-color:#F8EAD0;
border-color:#F8EAD0;
border-style:none;
border-width:0px;
}

.infield
{
background-color:#F8EAD0;
border-width:2px;
border-color:#F8EAD0;
border-style:outset;
}

A.mc
{
color:#000000;
text-decoration:none;
font-family:"Verdana", Sans-Serif;
font-size:11px;
}

IMG.mc
{

border-color:#000000;
}

.sel
{
width:552px;
height:329px;
overflow:scroll;
background-color:#F8EAD0;
font-size:14px;
font-family:"Verdana", Sans-Serif;
}

.fr
{
border-color:#F8EAD0;
width:552px;
height:329px;
}

.left
{
width:20px;
height:329px;
}

.red
{
font-family:"Verdana", Sans-Serif;
font-size:13px;
}

a
{
font-family:"Verdana", Sans-Serif;
color:#844139;
}

A IMG
{
 border-color:  #844139;
}

.aut
{
font-family:"Verdana", Sans-Serif;
font-size:12px;
color:#844139;
}

.naut
{
font-family:"Verdana", Sans-Serif;
font-size:15px;
color:#000000;
font-weight:bold;
padding-bottom:20px;
}

.tytulartykulu
{
font-family:"Verdana", Sans-Serif;
font-size:13px;
color:#844139;
text-decoration:underline;
cursor:pointer;
}

.dataartykulu
{
font-family:"Verdana", Sans-Serif;
font-size:11px;
color:#000000;
font-style:italic;
}

.autorartykulu
{
font-family:"Verdana", Sans-Serif;
font-size:11px;
color:#000000;
font-style:italic;
}

.notkaartykulu
{
font-family:"Verdana", Sans-Serif;
font-size:11px;
color:#000000;
text-align:justify;
padding-left:15px;
padding-right:15px;
padding-top:2px;
padding-bottom:15px;
}

.grupa
{
color:#844139;
font-family:"Verdana", Sans-Serif;
font-size:14px;
}

.podgrupa
{
color:#844139;
font-family:"Verdana", Sans-Serif;
font-size:12px;
padding-left:15px;
}

.autor
{
font-family:"Verdana", sans-serif;
font-size:79%;
color:black;
font-weight:bold;
line-height:120%;
}

.tytul
{
font-family:"Verdana", sans-serif;
font-size:112%;
color: #d2691c;
line-height:133%;
font-weight:bold;
}

.okladkapodpis
{
font-family:"Verdana", sans-serif;
font-size:75%;
color:gray;
line-height:120%;
}

p.tekst, p.tekst LI
{
font-family:"Verdana", sans-serif;
font-size:80%;
color:black;
line-height:160%;
}

p a, ul a, ol a
{
font-family:"Verdana", Sans-Serif;
font-size:100%;
color:#844139;
}

ol.tekst, ul.tekst
{
font-family:"Verdana", sans-serif;
font-size:80%;
color:black;
line-height:160%;
}

p.wstep
{
font-family:"Verdana", sans-serif;
font-size:84%;
font-weight:bold;
color:black;
line-height:160%;
}

p.srodtytul
{
font-family:"Verdana", sans-serif; 
font-size:82%;
font-weight:bold;
background-color: #FFCF9C;
color:#000000;
line-height:180%;
padding-left:10px;
}

p.anotka
{
font-family:"Verdana", sans-serif;
font-size:80%;
color:gray;
line-height:160%;
}

.dodatektytul
{
font-family:"Verdana", sans-serif; 
font-size:82%;
font-weight:bold;
color: #d2691e;
background-color: #FFCF9C;
line-height:180%;
padding-left:10px;
}

p.dodatek, OL.dodatek, UL.dodatek
{
font-family:"Verdana", sans-serif;
font-size:80%;
color: #674357/*9C6584*/;
line-height:160%;
}

p.przypis, td.przypis
{ 
font-family:"Verdana", sans-serif;
font-size:70%;
color:black;
line-height:160%;
}

.artykultabela
{ 
font-family:"Verdana", sans-serif;
font-size:75%;
color:black;
line-height:115%;
}

a.fpspan
{
color: white;
font-family: "Verdana", Sans-Serif;
font-size: 10px;
}

